body{
    background-color: blue;
    color: ghostwhite;
}

.heading{
    font-size: 25px;
    width: 50%;
    color: whitesmoke;
}

.ObjectNames{
    color: mediumorchid;
    width: 10%;
}